:root {
  --timer: 0.15s;
  --distance: 2em;
}

.slide-left-enter-active {
  animation: slideInRight var(--timer);
  animation-delay: var(--timer);
  opacity: 0;
}

.slide-left-leave-active {
  animation: slideOutRight var(--timer);
}

.slide-right-enter-active {
  animation: slideInLeft var(--timer);
  animation-delay: var(--timer);
  opacity: 0;
}

.slide-right-leave-active {
  animation: slideOutLeft var(--timer);
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(var(--distance));
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-1 * var(--distance));
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-1 * var(--distance));
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(var(--distance));
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
