[build]
  command = "pnpm generate"
  publish = "dist"

[[headers]]
  for = "/*.css"
  [headers.values]
    cache-control = '''
    max-age=31536000,
    immutable'''

[[headers]]
  for = "/*.js"
  [headers.values]
    cache-control = '''
    max-age=31536000,
    immutable'''

[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"

[[headers]]
  for = "/*.xml"
  [headers.values]
    Content-Type = "text/xml"

[[headers]]
  for = "/*"
  [headers.values]
    Permissions-Policy = "interest-cohort=()"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "no-referrer"
    X-Content-Type-Options = "nosniff"
    Content-Security-Policy = "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' 'cdn.jsdelivr.net'; style-src 'self' 'unsafe-inline' 'cdn.jsdelivr.net'; connect-src 'self'; img-src 'self'; font-src 'self'; frame-src 'self'; style-src-elem 'cdn.jsdelivr.net' 'self'"
