* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

:root {
  interpolate-size: allow-keywords;
  color-scheme: light dark;
}

::selection {
  color: var(--color-white);
  background: var(--color-primary);
}

html {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  container-type: scroll-state;
}

body {
  flex-direction: column;
  min-block-size: 100vh;
  margin: 0;
  color: var(--text-on-secondary);
  background: var(--color-secondary);
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  padding-inline-start: 1rem;
  margin: 0 0 var(--spacing-4);
  list-style-position: outside;
}
