button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

a {
  color: var(--black);
  text-decoration-skip: auto;
  @media (--print) {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  @media (--print) {
    &::after {
      content: ' (' attr(href) ') ';
      font-size: 0.8em;
      font-weight: normal;
    }
  }
}
